.home-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 150vh;
  display: flex;
  flex-direction: column;
}
.home-content-cont {
  width: 55%;
  margin: 100px 0px 0px 60px;
}
.home-content-cont h1 {
  font-family: roboto;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}
.home-content-cont p {
  font-family: roboto;
  font-size: 28px;
  color: #f1f5f9;
  margin-top: 0px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.home-content-cont button {
  height: 60px;
  width: 150px;
  border: 0px;
  border-radius: 10px;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: roboto;
}
@media (max-width: 567px) {
  .home-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .home-content-cont {
    padding: 0px;
    margin: 10px;
    width: auto;
  }
  .home-content-cont h1 {
    font-family: roboto;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .home-content-cont p {
    font-family: roboto;
    font-size: 20px;
    color: #f1f5f9;
    margin-top: 0px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .home-content-cont button {
    height: 40px;
    width: 90px;
    border: 0px;
    border-radius: 10px;
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: roboto;
  }
}
