.nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  background-color: #202020;
}
.header-logo {
  height: 40px;
}
.header-ul-cont {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.header-link {
  text-decoration: none;
  color: #ffffff;
}
.logout-btn {
  height: 40px;
  width: 100px;
  border: 0px;
  padding: 10px;
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 5px;
}
.mobile-cont {
  display: none;
}
.link-h {
  text-decoration: none;
}
@media (max-width: 576px) {
  .header-ul-cont {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: none;
  }
  .logout-btn {
    display: none;
  }
  .mobile-cont {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: roboto;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
  }
  .header-logo {
    height: 35px;
  }
  .nav-cont {
    padding: 5px 40px 5px 40px;
    background-color: #202020;
  }
}
